<div class="jumbotron" id="promo">
    <h2 class="display-4">${properties.title}</h2>
    <p>
        <a class="btn btn-primary btn-lg" href="${properties.link}" role="button">${properties.ctaable}</a>
    </p>
    <h2 class="lead"></h2>
    <h2>${properties.ctalabel}</h2>
    <div class="cmp-promo__tile" data-sly-use.model="com.myapp.web.core.models.PromoModel">
        <p>${model.promoTitle}!!!!!!!!!</p>
    </div>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.all @ categories='myAppWeb.promo'}"/>
    </sly>
    <div class="cmp-promo__title_clientlibs" onclick="buttonClick()">${'promo.button.ctalabel' @ i18n }</div>
</div>